@font-face {
    font-family: "WRG";
    src: url("../font/Type\ Dynamic\ -\ Sailec\ Bold.otf");
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: "WRG";
    src: url("../font/Type\ Dynamic\ -\ Sailec\ Bold\ Italic.otf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "WRG";
    src: url("../font/Type\ Dynamic\ -\ Sailec\ Medium.otf");
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: "WRG";
    src: url("../font/Type\ Dynamic\ -\ Sailec\ Medium\ Italic.otf");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "WRG";
    src: url("../font/Type\ Dynamic\ -\ Sailec\ Thin.otf");
    font-weight: 200;
    font-style: thin;
}
@font-face {
    font-family: "WRG";
    src: url("../font/Type\ Dynamic\ -\ Sailec\ Thin\ Italic.otf");
    font-weight: 200;
    font-style: italic;
}