* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "WRG";
  src: url("../font/Type Dynamic - Sailec Bold.otf");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "WRG";
  src: url("../font/Type Dynamic - Sailec Bold Italic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "WRG";
  src: url("../font/Type Dynamic - Sailec Medium.otf");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "WRG";
  src: url("../font/Type Dynamic - Sailec Medium Italic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "WRG";
  src: url("../font/Type Dynamic - Sailec Thin.otf");
  font-weight: 200;
  font-style: thin;
}

@font-face {
  font-family: "WRG";
  src: url("../font/Type Dynamic - Sailec Thin Italic.otf");
  font-weight: 200;
  font-style: italic;
}

.navigation {
  position: absolute;
  width: 100vw;
  padding-right: 20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.navigation .logo {
  color: white;
  font-family: 'WRG';
  font-size: .85rem;
  letter-spacing: 5px;
}

.navigation .navigation_right {
  gap: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .navigation_right .navigation_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-family: "WRG";
  font-weight: medium;
  font-size: .8rem;
}

.navigation .navigation_right .navigation_pages a {
  color: #151442;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigation .navigation_right .navigation_icons {
  gap: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .navigation_right .navigation_icons a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigation .navigation_right .navigation_icons a img.user {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 16px;
  height: 16px;
}

.navigation .navigation_right .navigation_icons .icons_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  align-items: center;
}

.navigation .navigation_right .navigation_icons .icons_right a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -1px;
}

.navigation .navigation_right .navigation_icons .icons_right a .cart_count {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
}

.navigation .navigation_right .navigation_icons .icons_right a .cart_count .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  color: white;
  font-size: 10px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation .navigation_right .navigation_icons .icons_right a .cart {
  width: 20px;
  height: 20px;
}

.main_container {
  width: 100vw;
  height: 100vh;
}

.main_container .landing_screen {
  width: 100vw;
  height: 100vh;
  background-color: #102421;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_container .landing_screen .landing_left {
  position: relative;
  left: 10%;
}

.main_container .landing_screen .landing_left .text_container {
  width: 60vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: "WRG";
}

.main_container .landing_screen .landing_left .text_container .beauty {
  font-weight: 200;
  font-size: 10px;
  letter-spacing: 10px;
}

.main_container .landing_screen .landing_left .text_container .title {
  font-weight: 700;
  font-size: 70px;
}

.main_container .landing_screen .landing_left .text_container .subtitle {
  font-weight: 200;
  font-size: 15px;
  color: #D2D2D2;
  margin-top: 10px;
}

.main_container .landing_screen .landing_left .text_container .buttons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.main_container .landing_screen .landing_left .text_container .buttons .landing_btn {
  padding: 10px;
  border-radius: 100px;
  outline: none;
  background-color: #C7E1BF;
  border-color: transparent;
  font-size: 12px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.main_container .landing_screen .landing_left .text_container .buttons .landing_btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.main_container .landing_screen .landing_right {
  height: 100vh;
  width: 40vw;
  background-color: white;
  float: right;
}
/*# sourceMappingURL=style.css.map */