@import './_fontStyle';

$primary_color: #102421;

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    user-select: none;
}

h1, h2, h3, h4, span{
    font-family: "WRG";
}
::-webkit-scrollbar {
    height: 3px;              /* height of horizontal scrollbar*/
    width: 10px;               /* width of vertical scrollbar */
    border: 1px solid #d5d5d5;
}
::-webkit-scrollbar-track {
border-radius: 0;
background: #eeeeee;
}

::-webkit-scrollbar-thumb {
border-radius: 0;
background: $primary_color;
}
h1{
    color: #151442;
    font-size: 60px;
}
body{
    overflow-x: hidden;
}
.navigation{
    position: fixed;
    z-index: 10;
    width: 100vw;
    max-width: 100%;
    padding-right: 50px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    transition: 200ms ease-in-out;
    & .logo{
        color: white;
        font-family: 'WRG';
        font-size: .85rem;
        letter-spacing: 5px;
    }
    & .navigation_right{
        gap: 70px;
        display: flex;
        & .navigation_pages{
            display: flex;
            gap: 20px;
            list-style-type: none;
            font-family: "WRG";
            font-weight: medium;
            font-size: .8rem;
            & a{
                color: #151442;;
                text-decoration: none;
                align-self: center;
            }
        }
        & .navigation_icons{
            gap: 25px;
            display: flex;
            align-items: center;
            & a{
                align-self: center;
                & img.user{
                    align-self: center;
                    width: 14px;
                    height: 16px;
                }
            }
            & .icons_right{
                display: flex;
                align-items: center;
                gap: 10px;
                align-items: center;
                & a{
                    align-items: center;
                    position: relative;
                    top: -1px;
                    & .cart_count{
                        align-self: center;
                        display: flex;
                        width: 15px;
                        height: 15px;
                        & .count{
                            display: flex;
                            position: absolute;
                            color: white;
                            font-size: 10px;
                            align-self: center;
                            transform: translateX(4px);
                            justify-content: center;
                        }
                    }
                    & .cart{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

    }
}
.navigation.active{
    background-color: white;
    box-shadow: 0px 3px 5px 3px rgba(16, 36, 33, 0.287);
}
.navigation .logo.active{
    color: $primary_color;
}
.main_container{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    & .landing_screen{
        width: 100%;
        height: 120vh;
        background-color: $primary_color;
        display: flex;
        & .landing_left{
            position: relative;
            left: 10%;
            top: 8%;
            width: 60vw;
            & .text_container{
                width: 60vw;
                height: 100vh;
                display: flex;
                gap: 15px;
                flex-direction: column;
                align-items: left;
                justify-content: center;
                color: white;
                font-family: "WRG";
                & .beauty{
                    font-weight: 200;
                    font-size: 10px;
                    letter-spacing: 10px;
    
                }
                & .title{
                    font-weight: 700;
                    font-size: 70px;
                }
                & .subtitle{
                    font-weight: 200;
                    font-size: 15px;
                    color: #D2D2D2;
                    margin-top: 10px;
                }
                & .buttons{
                    margin-top: 20px;
                    display: flex;
                    gap: 20px;
                    & .landing_btn{
                        cursor: pointer;
                        padding: 10px;
                        border-radius: 100px;
                        outline: none;
                        background-color: #C7E1BF;
                        border-color: transparent;
                        font-size: 11px;
                        font-weight: 200;
                        transition: 200ms ease-in-out;
                        &:hover{
                            transform: scale(1.1);
                            transition: 200ms ease-in-out;
                        }
                    }
                }
            }
        }
        & .landing_right{
            z-index: 1;
            height: 120vh;
            width: 40vw;
            background-color: white;
            float: right;
            & .landing_image{
                width: 550px;
                height: 550px;
                position: relative;
                left: -18%;
                top: 10%;
            }
        }
    }
    & .contents{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 59px;
        & .heading_container{
            width: 100%;
            margin-top: 80px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & .products{
            display: flex;
            align-self: center;
            max-width: 100%;
            justify-content: space-between;
            margin-bottom: 50px;
            & .product{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                gap: 13px;
                & img{
                    width: 296px;
                    height: 356px;
                }
                & span{
                    font-size: 10px;
                    font-family: "WRG";
                    max-width: 130px;
                    font-weight: 200;
                }
                & h5{
                    font-size: 10px;
                    font-family: "WRG";
                    max-width: 130px;
                    font-weight: 200;
                }
            }
        }
        // main quote container
        & .quote_container{
            position: relative;
            display: flex;
            & .texts{
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                & h2{
                    color: white;
                    font-size: 55px;
                    position: relative;
                    left: 50px;
                }
                & .quote_bg{
                    width: 41%;
                    height: 75%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding:30px;
                    padding-left: 55px;
                    padding-right: 55px;
                
                    gap: 2px;
                    margin-right: 34px;
                    background-color: #FFF3F3;
                    & h3{
                        color: #342B42, 100%;
                        font-size: 28px;
                        line-height: 46px;
                        font-family: WRG;
                        font-weight: 500;
                    }
                    & .top_quote{
                        align-self: flex-start;
                        width: 44px;
                        height: 36.24px;
                        transform: scale(0.65);
                    }
                    & .bottom_quote{
                        align-self: flex-end;
                        transform: scale(0.65);
                        width: 44px;
                        height: 36.24px;

                    }
                    & .author{
                        position: relative;
                        right: 30px;
                        top: 23px;
                        font-family: WRG;
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        align-self: flex-end;
                        & .author_detail{
                            font-size: 12px;
                            font-weight: 200;
                        }
                    }
                }
            }
            & .quote_image{
                width: 100%;
                object-fit: fill;
            }
        }
        & .heading_container_2{
            margin: auto;
            margin-top: 55px;
        }
        & .vit_products {
            display: flex;
            margin-top: 30px;
            overflow-x: auto;
            gap: 60px;
            padding-left: 60px;
            padding-right: 60px;
            
            & .product {
                margin-bottom: 45px;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                gap: 13px;
                & .vit_img{
                    object-fit: cover;
                    width: 266px;
                    height: 342px;
                }
                & span, h5{
                    font-size: 10px;
                    font-family: "WRG";
                    max-width: 130px;
                    font-weight: 200;
                }
            }
            
        }
        & .heading_container_3{
            margin: auto;
            margin-top: 40px;
        }
        & .benefit_container{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            margin-top: 40px;
            & .benefit{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 40px;
                & img{
                    width: 50px;
                    height: 50px;
                }
                & span{
                    font-family: WRG;
                    font-weight: 500;
                }
            }
        }
        & .footer{
            display: flex;
            padding: 80px;
            padding-right: 145px;
            margin-top: 80px;
            justify-content: space-between;
            background-color: $primary_color;
            & ul{
                list-style-type: none;
                color: white;
                font-size: 15px;
                font-family: WRG;
                font-weight: 200;
            }
            & .footer_left{
                & h1{
                    font-weight: 500;
                    color: white;
                }
                & span{
                    color: white;
                    display: flex;
                    gap: 4px;
                    font-size: 14px;
                    font-weight: 200;
                    & .copyright{
                        font-size: 26px;
                        position: relative;
                        top: -4.3px;
                    }
                }
            }
            & .footer_left>span{
                margin-top: 50px;
            }
            & .footer_right{
                align-self: flex-end;
                display: flex;
                gap: 50px;
                & span{
                    font-size: 16px;
                    color: white;
                    font-family: WRG;
                    font-weight: 800;
                }
                & .about_us, .get_in_touch{
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                }
                & .about_us ul li:not(:first-child){
                    margin-top: 15px;
                }
                & .get_in_touch ul li:not(:first-child){
                    margin-top: 10px;
                }
            }
        }
    }

}