@font-face {
  font-family: "WRG";
  src: url("../font/Type Dynamic - Sailec Bold.otf");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "WRG";
  src: url("../font/Type Dynamic - Sailec Bold Italic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "WRG";
  src: url("../font/Type Dynamic - Sailec Medium.otf");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "WRG";
  src: url("../font/Type Dynamic - Sailec Medium Italic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "WRG";
  src: url("../font/Type Dynamic - Sailec Thin.otf");
  font-weight: 200;
  font-style: thin;
}

@font-face {
  font-family: "WRG";
  src: url("../font/Type Dynamic - Sailec Thin Italic.otf");
  font-weight: 200;
  font-style: italic;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4 {
  font-family: "WRG";
}

h1 {
  color: #151442;
  font-size: 60px;
}

.body {
  max-width: 100vw;
  overflow-x: hidden;
}

.scrolling-active {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  color: black;
}

.navigation {
  position: fixed;
  z-index: 10;
  width: 100vw;
  max-width: 100%;
  padding-right: 50px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.navigation .logo {
  color: white;
  font-family: 'WRG';
  font-size: .85rem;
  letter-spacing: 5px;
}

.navigation .navigation_right {
  gap: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .navigation_right .navigation_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-family: "WRG";
  font-weight: medium;
  font-size: .8rem;
}

.navigation .navigation_right .navigation_pages a {
  color: #151442;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigation .navigation_right .navigation_icons {
  gap: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .navigation_right .navigation_icons a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigation .navigation_right .navigation_icons a img.user {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 14px;
  height: 16px;
}

.navigation .navigation_right .navigation_icons .icons_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  align-items: center;
}

.navigation .navigation_right .navigation_icons .icons_right a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -1px;
}

.navigation .navigation_right .navigation_icons .icons_right a .cart_count {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
}

.navigation .navigation_right .navigation_icons .icons_right a .cart_count .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  color: white;
  font-size: 10px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation .navigation_right .navigation_icons .icons_right a .cart {
  width: 20px;
  height: 20px;
}

.main_container {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}

.main_container .landing_screen {
  width: 100%;
  height: 120vh;
  background-color: #102421;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_container .landing_screen .landing_left {
  position: relative;
  left: 10%;
  top: 8%;
  width: 60vw;
}

.main_container .landing_screen .landing_left .text_container {
  width: 60vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: "WRG";
}

.main_container .landing_screen .landing_left .text_container .beauty {
  font-weight: 200;
  font-size: 10px;
  letter-spacing: 10px;
}

.main_container .landing_screen .landing_left .text_container .title {
  font-weight: 700;
  font-size: 70px;
}

.main_container .landing_screen .landing_left .text_container .subtitle {
  font-weight: 200;
  font-size: 15px;
  color: #D2D2D2;
  margin-top: 10px;
}

.main_container .landing_screen .landing_left .text_container .buttons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.main_container .landing_screen .landing_left .text_container .buttons .landing_btn {
  padding: 10px;
  border-radius: 100px;
  outline: none;
  background-color: #C7E1BF;
  border-color: transparent;
  font-size: 11px;
  font-weight: 200;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.main_container .landing_screen .landing_left .text_container .buttons .landing_btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.main_container .landing_screen .landing_right {
  z-index: 1;
  height: 120vh;
  width: 40vw;
  background-color: white;
  float: right;
}

.main_container .landing_screen .landing_right .landing_image {
  width: 550px;
  height: 550px;
  position: relative;
  left: -18%;
  top: 10%;
}

.main_container .contents {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 59px;
}

.main_container .contents .heading_container {
  width: 100%;
  margin-top: 50px;
  position: relative;
  top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_container .contents .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.main_container .contents .products .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}

.main_container .contents .products .product img {
  width: 296px;
  height: 356px;
}

.main_container .contents .products .product span {
  font-size: 10px;
  font-family: "WRG";
  max-width: 130px;
  font-weight: 200;
}

.main_container .contents .products .product h5 {
  font-size: 10px;
  font-family: "WRG";
  max-width: 130px;
  font-weight: 200;
}

.main_container .contents .quote_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_container .contents .quote_container .texts {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_container .contents .quote_container .texts h2 {
  color: white;
  font-size: 55px;
  position: relative;
  left: 50px;
}

.main_container .contents .quote_container .texts .quote_bg {
  width: 41%;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  padding-left: 55px;
  padding-right: 55px;
  gap: 2px;
  margin-right: 34px;
  background-color: #FFF3F3;
}

.main_container .contents .quote_container .texts .quote_bg h3 {
  color: #342B42, 100%;
  font-size: 28px;
  line-height: 46px;
  font-family: WRG;
  font-weight: 500;
}

.main_container .contents .quote_container .texts .quote_bg .top_quote {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 44px;
  height: 36.24px;
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
}

.main_container .contents .quote_container .texts .quote_bg .bottom_quote {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
  width: 44px;
  height: 36.24px;
}

.main_container .contents .quote_container .texts .quote_bg .author {
  position: relative;
  right: 30px;
  top: 23px;
  font-family: WRG;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main_container .contents .quote_container .texts .quote_bg .author .author_detail {
  font-size: 12px;
  font-weight: 200;
}

.main_container .contents .quote_container .quote_image {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
/*# sourceMappingURL=style.css.map */