@import './fontStyle';

$primary_color: #102421;

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

h1, h2, h3, h4{
    font-family: "WRG";
}
h1{
    color: #151442;
    font-size: 60px;
}
.navigation{
    position: absolute;
    z-index: 10;
    width: 100vw;
    padding-right: 50px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    & .logo{
        color: white;
        font-family: 'WRG';
        font-size: .85rem;
        letter-spacing: 5px;
    }
    & .navigation_right{
        gap: 70px;
        display: flex;
        & .navigation_pages{
            display: flex;
            gap: 20px;
            list-style-type: none;
            font-family: "WRG";
            font-weight: medium;
            font-size: .8rem;
            & a{
                color: #151442;;
                text-decoration: none;
                align-self: center;
            }
        }
        & .navigation_icons{
            gap: 25px;
            display: flex;
            align-items: center;
            & a{
                align-self: center;
                & img.user{
                    align-self: center;
                    width: 14px;
                    height: 16px;
                }
            }
            & .icons_right{
                display: flex;
                align-items: center;
                gap: 10px;
                align-items: center;
                & a{
                    align-items: center;
                    position: relative;
                    top: -1px;
                    & .cart_count{
                        align-self: center;
                        display: flex;
                        width: 15px;
                        height: 15px;
                        & .count{
                            display: flex;
                            position: absolute;
                            color: white;
                            font-size: 10px;
                            align-self: center;
                            transform: translateX(4px);
                            justify-content: center;
                        }
                    }
                    & .cart{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

    }
}
.main_container{
    width: 100vw;
    height: 100vh;
    & .landing_screen{
        width: 100vw;
        height: 120vh;
        background-color: $primary_color;
        display: flex;
        & .landing_left{
            position: relative;
            left: 10%;
            top: 8%;
            width: 60vw;
            & .text_container{
                width: 60vw;
                height: 100vh;
                display: flex;
                gap: 15px;
                flex-direction: column;
                align-items: left;
                justify-content: center;
                color: white;
                font-family: "WRG";
                & .beauty{
                    font-weight: 200;
                    font-size: 10px;
                    letter-spacing: 10px;
    
                }
                & .title{
                    font-weight: 700;
                    font-size: 70px;
                }
                & .subtitle{
                    font-weight: 200;
                    font-size: 15px;
                    color: #D2D2D2;
                    margin-top: 10px;
                }
                & .buttons{
                    margin-top: 20px;
                    display: flex;
                    gap: 20px;
                    & .landing_btn{
                        padding: 10px;
                        border-radius: 100px;
                        outline: none;
                        background-color: #C7E1BF;
                        border-color: transparent;
                        font-size: 11px;
                        font-weight: 200;
                        transition: 200ms ease-in-out;
                        &:hover{
                            transform: scale(1.1);
                            transition: 200ms ease-in-out;
                        }
                    }
                }
            }
        }
        & .landing_right{
            z-index: 1;
            height: 120vh;
            width: 40vw;
            background-color: white;
            float: right;
            & .landing_image{
                width: 550px;
                height: 550px;
                position: relative;
                left: -18%;
                top: 10%;
            }
        }
    }
    & .contents{
        width: 100vw;
        & .heading_container{
            width: 100vw;
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & .products{
            display: flex;
            & .product{
                text-align: center;
                align-items: center;
                & span{
                    font-size: 10px;
                    font-family: "WRG";
                }
            }
        }
    }

}