$primary_color: #102421;

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}
@font-face {
    font-family: "WRG";
    src: url("../font/Type_Dynamic_Sailec_Black.otf");
    font-style: bold;
}
body{
    font-family: "WRG";
}
.navigation{
    position: absolute;
    width: 100vw;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    & .logo{
        color: white;
        font-family: 'WRG';
    }
    & .navigation_right{
        gap: 70px;
        display: flex;
        & .navigation_pages{
            display: flex;
            gap: 20px;
            list-style-type: none;
        }
        & .navigation_icons{
            gap: 35px;
            display: flex;
            & img{
                width: 15px;
                height: 15px;
            }
            & .icons_right{
                & img {
                    gap: 20px;
                }
            }
        }

    }
}
.main_container{
    width: 100vw;
    height: 100vh;
    & .landing_screen{
        width: 100vw;
        height: 100vh;
        background-color: $primary_color;
        & .landing_right{
            height: 100vh;
            width: 40vw;
            background-color: white;
            float: right;
        }
    }

}