$primary_color: #102421;

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}
@font-face {
    font-family: "WRG";
    src: url("../font/Type\ Dynamic\ -\ Sailec\ Bold.otf");
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: "WRG";
    src: url("../font/Type\ Dynamic\ -\ Sailec\ Bold\ Italic.otf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "WRG";
    src: url("../font/Type\ Dynamic\ -\ Sailec\ Medium.otf");
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: "WRG";
    src: url("../font/Type\ Dynamic\ -\ Sailec\ Medium\ Italic.otf");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "WRG";
    src: url("../font/Type\ Dynamic\ -\ Sailec\ Thin.otf");
    font-weight: 200;
    font-style: thin;
}
@font-face {
    font-family: "WRG";
    src: url("../font/Type\ Dynamic\ -\ Sailec\ Thin\ Italic.otf");
    font-weight: 200;
    font-style: italic;
}
// body{
//     font-family: "WRG";
// }
.navigation{
    position: absolute;
    width: 100vw;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    & .logo{
        color: white;
        font-family: 'WRG';
        font-size: .85rem;
        letter-spacing: 5px;
    }
    & .navigation_right{
        gap: 70px;
        display: flex;
        & .navigation_pages{
            display: flex;
            gap: 20px;
            list-style-type: none;
            font-family: "WRG";
            font-weight: medium;
            font-size: .8rem;
            & a{
                color: #151442;;
                text-decoration: none;
                align-self: center;
            }
        }
        & .navigation_icons{
            gap: 35px;
            display: flex;
            align-items: center;
            & a{
                align-self: center;
                & img.user{
                    align-self: center;
                    width: 16px;
                    height: 16px;
                }
            }
            & .icons_right{
                display: flex;
                align-items: center;
                gap: 10px;
                align-items: center;
                & a{
                    align-items: center;
                    position: relative;
                    top: -1px;
                    & .cart_count{
                        align-self: center;
                        display: flex;
                        width: 15px;
                        height: 15px;
                        & .count{
                            display: flex;
                            position: absolute;
                            color: white;
                            font-size: 10px;
                            align-self: center;
                            transform: translateX(4px);
                            justify-content: center;
                        }
                    }
                    & .cart{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

    }
}
.main_container{
    width: 100vw;
    height: 100vh;
    & .landing_screen{
        width: 100vw;
        height: 100vh;
        background-color: $primary_color;
        & .landing_right{
            height: 100vh;
            width: 40vw;
            background-color: white;
            float: right;
        }
    }

}